# Python
venv/
__pycache__/
*.pyc
.env

# Node / Angular
node_modules/
frontend/dist/
frontend/.angular/

# OS
.DS_Store
*Zone.Identifier
auth-service/.env.test
application-service/.env.test
credit-decision-service/.env.test
