apiVersion: v1
kind: Secret
metadata:
  name: auth-secret
  namespace: credit-card-app
type: Opaque
stringData:
  DATABASE_URL: "postgresql+asyncpg://ccapp:change_me_strong_password@postgres:5432/auth_db"
  JWT_SECRET_KEY: "change_me_shared_jwt_secret"
