apiVersion: v1
kind: Secret
metadata:
  name: application-secret
  namespace: credit-card-app
type: Opaque
stringData:
  DATABASE_URL: "postgresql+asyncpg://username:password@postgres:5432/application_db"
  JWT_SECRET_KEY: "change_me_shared_jwt_secret"
