apiVersion: v1
kind: Secret
metadata:
  name: decision-secret
  namespace: credit-card-app
type: Opaque
stringData:
  DATABASE_URL: "postgresql+asyncpg://ccapp:change_me_password@postgres:5432/decision_db"
